header nav ul li:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 0px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    transition: all ease-in-out 0.5s;
}

main {
    overflow-x: hidden;
}

.nav-element:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    transition: all ease-in-out 0.5s;
}

.hero-banner {
    height: 700px;
    padding: 30px;
    background-image: url("../html/images/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-banner::before {
    content: "";
    /* Create a pseudo-element for overlay */
    position: absolute;

    left: 0;
    width: 100%;
    height: 700px;

    /* Adjust the opacity to darken/lighten */
}

.hero-banner h1,
.hero-banner p,
.hero-banner a {
    z-index: 1;
    /* Ensure text and button are above the overlay */
}

.approach {
    height: 1200px;
    padding: 30px;
    background-image: url("../html/images/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #fff;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
}

.glow-teal {
    color: #fff;
    text-align: center;
    -webkit-animation: glow-teal 1s ease-in-out infinite alternate;
    -moz-animation: glow-teal 1s ease-in-out infinite alternate;
    animation: glow-teal 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-teal {
    from {
        text-shadow: 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 10px rgb(94 234 212), 0 0 20px rgb(94 234 212);
    }

    to {
        text-shadow: 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 8px rgb(94 234 212), 0 0 30px rgb(94 234 212), 0 0 40px rgb(94 234 212), 0 0 50px rgb(94 234 212);
    }
}

.intro {
    padding: 30px;
    background-image: url("../html/images/background2.jpg");
    background-size: cover;
    background-position: center;
}

.ad1 {
    padding: 30px;
    background-image: url("../html/images/ad1.jpg");
    background-size: cover;
    background-position: center;
}

/* .ad1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */

.ad1 h2,
.ad1 p,
.ad1 a {
    z-index: 1;
    /* Ensure text and button are above the overlay */
}

.ad2 {
    padding: 30px;
    background-image: url("../html/images/ad2.jpg");
    background-size: cover;
    background-position: center;
}

.ad3 {
    padding: 30px;
    background-image: url("../html/images/ad3.jpg");
    background-size: cover;
    background-position: center;
}

@media(min-width:720px) {
    .map {
        width: 100%;
        height: 400px;
    }
    .approach {
        height: 750px;
    }
}

.about {
    height: 700px;
    padding: 30px;
    background-image: url("../html/images/about2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px #000;
}

.about::before {
    content: "";
    /* Create a pseudo-element for overlay */
    position: absolute;

    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.65);
    /* Adjust the opacity to darken/lighten */
}

.about h1,
.about p {
    z-index: 1;
    /* Ensure text and button are above the overlay */
}