
/*Credit to 한국전기안전공사*/
@font-face {
    font-family: 'Electric-Safety';
    src: url(../font/전기안전체_R/Electric-Safety-Regular.ttf);
}

@font-face {
    font-family: 'EnvironmentR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'G-Market-Sans-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url(../font/Noto_Sans_KR/static/NotoSansKR-Regular.ttf);
}

@font-face {
    font-family: 'Mulish-Medium';
    src: url(../font/Mulish/static/Mulish-Medium.ttf);
}

@font-face {
    font-family: 'Mulish-Light';
    src: url(../font/Mulish/static/Mulish-Light.ttf);
}

@font-face {
    font-family: 'Antonio-Regular';
    src: url(../font/Antonio/static/Antonio-Regular.ttf);
}


@font-face {
    font-family: 'Gabia';
    src: url(../font/GabiaOndam/GabiaOndam.ttf);
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ycomputer-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YiSunShinDotumM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HailSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dalmoori';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DosKor';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/DosKor.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.kr-font {
    font-family: 'G-Market-Sans-Medium';
}

h1,
h2,
h3,
h4,
h5,
a {
    font-family: 'Electric-Safety';
}

p,
button {
    font-family: 'EnvironmentR'
}

header nav ul li:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 0px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    transition: all ease-in-out 0.5s;
}

main {
    overflow-x: hidden;
}

.nav-element:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    transition: all ease-in-out 0.5s;
}

.hero-banner {
    height: 400px;
    padding: 30px;
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-banner::before {
    content: "";
    /* Create a pseudo-element for overlay */
    position: absolute;

    left: 0;
    width: 100%;
    height: 700px;

    /* Adjust the opacity to darken/lighten */
}

.hero-banner2 {
    height: 300px;
    padding: 30px;
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-banner2::before {
    content: "";
    /* Create a pseudo-element for overlay */
    position: absolute;

    left: 0;
    width: 100%;
    height: 700px;

    /* Adjust the opacity to darken/lighten */
}

.hero-banner h1,
.hero-banner p,
.hero-banner a {
    z-index: 1;
    /* Ensure text and button are above the overlay */
}

.approach {
    height: 1450px;
    padding: 30px;
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #fff;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
}

.glow-teal {
    color: #fff;
    text-align: center;
    -webkit-animation: glow-teal 1s ease-in-out infinite alternate;
    -moz-animation: glow-teal 1s ease-in-out infinite alternate;
    animation: glow-teal 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-teal {
    from {
        text-shadow: 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 10px rgb(94 234 212), 0 0 20px rgb(94 234 212);
    }

    to {
        text-shadow: 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 0px rgb(94 234 212), 0 0 8px rgb(94 234 212), 0 0 30px rgb(94 234 212), 0 0 40px rgb(94 234 212), 0 0 50px rgb(94 234 212);
    }
}

.intro {
    height: 1100px;
    padding: 30px;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
}

.ad1 {
    position: relative;
    padding: 30px;
    background-image: url("../images/ad1.jpg");
    background-size: cover;
    background-position: center;
}

.ad1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.ad1 h2,
.ad1 p,
.ad1 a {
    position: relative;
    z-index: 25;
    /* Ensure text and button are above the overlay */
}

.ad2 {
    position: relative;
    padding: 30px;
    background-image: url("../images/ad2.jpg");
    background-size: cover;
    background-position: center;
}

.ad2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.ad2 h2,
.ad2 p,
.ad2 a {
    position: relative;
    z-index: 25;
    /* Ensure text and button are above the overlay */
}

.ad3 {
    position: relative;
    padding: 30px;
    background-image: url("../images/ad3.jpg");
    background-size: cover;
    background-position: center;
}

.ad3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.ad3 h2,
.ad3 p,
.ad3 a {
    position: relative;
    z-index: 25;
    /* Ensure text and button are above the overlay */
}

.about {
    height: 300px;
    padding: 30px;
    background-image: url("../images/about2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px #000;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.65);
}

.about h1,
.about p {
    z-index: 1;
}

.summercamp {
    height: 500px;
    padding: 30px;
    background-image: url("../images/summercamp.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px #000;
}

.summercamp::before {
    height: 500px;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.summercamp h1,
.summercamp p {
    z-index: 1;
}

.summercamp a {
    text-shadow: 0 0 0px;
}

.summercamp-korean {
    height: 960px;
    padding: 10px;
    background-image: url("../images/whistler2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summercamp-korean::before {
    height: 960px;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.summercamp-korean h1,
.summercamp-korean p,
.summercamp-korean .location {
    z-index: 1;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    opacity: 0;
    transition: opacity 0.5s;
}

.lightbox-image {
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.5s ease;
}

.lightbox.fade-in {
    opacity: 1;
}

.lightbox.fade-out {
    opacity: 0;
}

#pop-up{
    position:fixed;
    top:0px;
    left:0px;    
    width:100vw;
    height:100vh;
	z-index:1000;
	background-color: rgba(5, 5, 5, 0.8);    
	font-size:.85em;
}
#pop-up-div{
	position:absolute;
	left:50%;
	top:40%;
	transform:translate(-50%, -50%);
	max-width:400px;
	min-width:300px;
	padding:10px;
	border-radius:10px;
	background-color: rgb(46, 46, 46);
	color:white;
}

@media(min-width:720px) {
    .hero-banner {
        height: 700px;
    }

    .intro {
        height: 1150px;
    }

    .map {
        width: 100%;
        height: 400px;
    }

    .approach {
        height: 900px;
    }

    .about {
        height: 700px;
    }

    .about::before {
        height: 700px;
    }

    .summercamp {
        height: 700px;
    }

    .summercamp::before {
        height: 700px;
    }

    .summercamp-korean {
        height: 2000px;
    }

    .summercamp-korean::before {
        height: 2000px;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 48px;
        color: white;
        cursor: pointer;
        user-select: none;
    }

    .left-arrow {
        left: 100px;
    }

    .right-arrow {
        right: 100px;
    }

    #pop-up-div{
        max-width:1000px;
        top:50%;
    }
}